<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    
    <title>RS Navi - Home</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" id="mainNavbar">
        <a href="/" class="navbar-brand"><span class="font-weight-bold">ROOM STAY-IN</span> NAVIGATION</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation links">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav ml-auto">
                <% if (locals.user) {
                    if (user.account.role === 7) { %>
                        <li class="nav-item"><a href="/admin" class="nav-link"><%= user.firstName %> <%= user.lastName %> <i class="fas fa-user"></i></a></li>
                        <li class="nav-item"><a href="/admin/logout" class="nav-link">Logout</a></li>
                    <% } else { %>
                        <li class="nav-item"><a href="/profile" class="nav-link"><%= user.firstName %> <%= user.lastName %> <i class="fas fa-user"></i></a></li>
                        <li class="nav-item"><a href="/auth/logout" class="nav-link">Logout</a></li>
                    %< }
                    if (user.account.role == 1) { %>
                        <li class="nav-item"><a href="/places/add" class="nav-link">Add A Place <i class="fas fa-home"></i> </a></li>
                    <% } %>
                <% }  else { %>
                    <li class="nav-item"><a href="/auth" class="nav-link">Login <i class="fas fa-user"></i></a></li>
                    <li class="nav-item"><a href="/auth?placeowner=1" class="nav-link">Add A Place <i class="fas fa-home"></i> </a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    
    <% if (locals.message) { 
        if (message.length > 0) { %>
            <!-- Alert Message From Server -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-primary alert-dismissible fade show mt-5" role="alert">
                        <%= locals.message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <!-- Search -->
    <main class="container">

        <div class="row justify-content-center">
            <div class="col-5 col-md-4 col-lg-3">
                <a href="/"><img class="img-fluid" src="/images/logo_no_title.png" id="logo"></a>
            </div>
        </div>
        <form method="GET" action="/search">
            <div class="row justify-content-center mt-5">
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="input-group mb-5">
                        <input type="text" class="form-control" placeholder="Enter school name..." name="schoolName"  id="searchField" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"> <i class="fas fa-search"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <!-- Footer Component -->
    <% include ../public/components/footer.ejs %>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Boostrap Bundle (Bootstrap JS + Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <!-- Devbridge's Autocomplete -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.9/jquery.autocomplete.js" integrity="sha256-AU6mjGKtdyPqKOpEqQm/UCFmQ9UqrP1QH0EZVvpoAnQ=" crossorigin="anonymous"></script> 

    <!-- Custom Script -->
    <script>
        $(document).ready(() => {
            $('form').attr('autocomplete', 'off');  // disable default autocomplete
            $("main").animate({ opacity: 1 }, 1000) // fade-in
        });

        $('#searchField').autocomplete({
            serviceUrl: '/autocomplete/schools'
        });
    </script>
</body>
</html>