<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="rent, house, apartments, dormitories, condominiums, school, address, travel, accessibility">
    <meta name="description" content="Find available places to live near your school.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/place-details.css" type="text/css">

    <!-- Map CSS -->
    <link rel="stylesheet" href="/css/map.css" type="text/css">

    <title>RS Navi • <%= place.name %></title>
</head>
<body>
    <!-- Navbar Component -->
    <% include ../public/components/navbar.ejs %>

    <main class="container">
        <div class="row justify-content-center">

            <!-- Place Column -->
            <div class="col-12 col-md-8 mb-2 mb-md-3 order-0">

                <!-- Images -->
                <div class="row">
                    <div class="col">
                        <div class="card collapse show" id="images">
                            <div id="carousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <% for (let i=0; i<place.images.length; i++) { %>
                                        <li <% if (i==0) { %> class="active" <% } %> data-target="#carousel" data-slide-to="<%= i %>"></li>
                                    <% } %>
                                </ol>

                                <div class="carousel-inner">
                                    <% for (let i=0; i<place.images.length; i++) { %>
                                        <div class="carousel-item <%= i==0 ? 'active' : '' %>">
                                            <a href="<%=place.images[i].url%>" target="_blank">
                                                <img src="<%=place.images[i].url%>" class="card-img-top" alt="Missing" height="100px">
                                            </a>
                                        </div>
                                    <% } %>
                                </div>
                                
                                <% if (place.images.length > 1) { %>
                                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                <% } %> 
                            </div>
                        </div>

                        <section id="map-section" class="collapse justify-content-center">
                            <div id="map" class="text-center"></div>
                        </section>
                    </div>
                </div>

                <!-- Place Details -->
                <div class="row">
                    <div class="col mt-2 order-0 order-md-1">
                        <div class="card">
                            <div class="card-header">
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <h3><%= place.name %> </h3>
                                        <% if (locals.user && user._id === place.owner._id) { %>
                                            <div class="col-3 text-right p-0">
                                                <button type="button" class="btn btn-sm custom-button" style="width: 65px;"><i class="far fa-edit mr-1 skyblue"></i> Edit</button>
                                            </div>
                                        <% } else { %>
                                            <div class="col-3 text-right p-0">
                                                <button type="button" class="btn btn-sm custom-button"><i class="far fa-flag mr-1 skyblue"></i> Report</button>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="row">
                                        <span class="skyblue text-center">₱ <%= place.price.toLocaleString('en') %></span>
                                    </div>
                                    <div class="row mt-2 mb-0">
                                        <h5>
                                            <span><%= place.placeTypeString %> For <%= place.listTypeString %></span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col">
                                        <h6 class="card-text mb-3"><%= place.fullAddress %></h5>
                                        <button class="btn btn-sm custom-button" id="view-map-button"><i class="fas fa-map-marker-alt"></i> View Map</button> 
                                    </div>
                                </div>
                            </div>
                            <div class="card-body mb-1 pt-0">
                                <p class="card-text"><%= place.description %></p>

                                <div class="row mt-4">
                                    <div class="col">
                                        <% if (place.stories) { %> 
                                            <span class="mr-3">
                                                <i class="far fa-building skyblue"></i> 
                                                <%= place.stories %> Stories
                                            </span> 
                                        <% } %>

                                        <% if (place.bedrooms) { %> 
                                            <span class="mr-3">
                                                <i class="fas fa-bed skyblue"></i> 
                                                <%= place.bedrooms %> Bedrooms
                                            </span> 
                                        <% } %>

                                        <% if (place.bathrooms) { %> 
                                            <span class="mr-3">
                                                <i class="fas fa-bath skyblue"></i>
                                                <%= place.bathrooms %> Bathrooms
                                            </span> 
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Reviews -->
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="card" id="reviews">
                            <div class="card-header">
                                <div class="container">
                                    <!-- Average Stars -->
                                    <div class="row justify-content-between">
                                        <span>Reviews</span>
                                        <% if (place.stars > 0) { %>
                                            <span><%= place.stars %> <span class="gold">★</span></span>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Post Reviews -->
                            <div class="card-body">
                                <form method="POST" action="/places/<%= place._id %>/review">
                                    <div class="row">
                                        <div class="col-12">
                                            <textarea name="comment" placeholder="Comment..." required></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="rating">
                                                <input id="star5" name="rating" type="radio" value="5" class="radio-btn" hidden required>
                                                <label for="star5">☆</label>
                                                <input id="star4" name="rating" type="radio" value="4" class="radio-btn" hidden required>
                                                <label for="star4">☆</label>
                                                <input id="star3" name="rating" type="radio" value="3" class="radio-btn" hidden required>
                                                <label for="star3">☆</label>
                                                <input id="star2" name="rating" type="radio" value="2" class="radio-btn" hidden required>
                                                <label for="star2">☆</label>
                                                <input id="star1" name="rating" type="radio" value="1" class="radio-btn" hidden required>
                                                <label for="star1">☆</label>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="col-3 text-right">
                                            <button type="submit" class="btn btn-sm custom-button mt-2">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Submitted Reviews -->
                            <% if (place.reviews.length > 0) { 
                                for (review of place.reviews) { %>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title">
                                                    <span class="mr-3"><%= review.author.fullName %></span>
                                                    <% for (let i=0; i<review.rating; i++) { %> <span class="gold">★</span> <% } %> 
                                                </h5>
                                            </div>
                                            <div class="col">
                                                <p class="text-right"><%= review.dateString %></h5>
                                            </div>
                                        </div>
        
                                        <div class="row">
                                            <div class="col">
                                                <p class="card-text"><%= review.comment %></p>
                                            </div>
                                        </div>
        
                                        <% if (locals.user) { %>
                                            <div class="row mt-3">
                                                <div class="col">
                                                    <% if (user.account.role === 0 && user._id !== review.author._id) { %>
                                                        <button type="button" class="btn btn-sm custom-button mr-2" style="color: limegreen;">Helpful</button>
                                                    <% } %>
                                                        
                                                    <% if (user._id !== review.author._id) { %>
                                                        <button type="button" class="btn btn-sm custom-button mr-2"><i class="far fa-flag mr-1 skyblue"></i> Report</button>
                                                    <% } %>
                                                    
        
                                                    <% if (user.account.role === 7 || user._id === review.author._id) { %>
                                                        <button type="button" class="btn btn-sm custom-button" style="color: rgb(248, 45, 45);">Delete</button>
                                                    <% } %>
                                                </div>
                                            </div>
                                        <% } %>
                                        
                                    </div>
                                <% }
                            } else { %>
                                <div class="card-body">
                                    No reviews for this place yet.
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Placeowner Column -->
            <div class="col-12 col-md-4 order-1 mb-3">
                <div class="row sticky-top sticky-offset">

                    <!-- Placeowner Details -->
                    <div class="col-12 order-1 order-md-0">
                        <div class="card">
                            <div class="card-header">
                                <div class="row my-1">
                                    <div class="col">
                                        <a href="/profile/<%= place.owner._id %>">
                                            <img class="card-img-top border border-info" src="<%=place.owner.image.url%>" style="width: 5rem; height: 5rem;">
                                        </a>
                                    </div>
                                    <div class="col text-right">
                                        <a href="/profile/<%= place.owner._id %>" class="btn btn-sm custom-button">
                                            View Profile
                                        </a>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <span class="ml-3">
                                        <%= place.owner.fullName %>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="ml-3">
                                        <% if (place.owner.account.status === 1)  { %><i class="far fa-check-circle mr-2" id="verified" title="Verified"></i> <% } %>
                                        <% if (place.owner.license.status === 0)  { %><i class="far fa-id-badge mr-2" id="licensed" title="Licensed"></i> <% } %>
                                        <i class="far fa-handshake mr-2 skyblue" title="Partner"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body">

                                <% if (locals.user) { %>
                                    <p class="card-text" id="contact-number">
                                        <i class="fas fa-mobile-alt mx-1 skyblue"></i> <%= place.owner.contactNumber %>
                                    </p>
                                <% } else { %>
                                    <a class="card-text" id="contact-number" title="Show contact number" data-toggle="modal" data-target="#contact-number-modal" style="cursor: pointer;">
                                        <i class="fas fa-mobile-alt skyblue ml-1 mr-2"></i><%= place.owner.partialContactNumber %>
                                        <span class="skyblue ml-2">Show</span>
                                    </a>
                                <% } %>

                                <p class="card-text mt-2"><i class="far fa-envelope mr-1 skyblue"></i> <%= place.owner.account.email %></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer Component -->
    <% include ../public/components/footer.ejs %>
        
    <!-- Modal -->
    <div class="modal fade" id="contact-number-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background: rgb(14, 22, 38, 0.5);">

                <div class="modal-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-8">
                                <h2>Login Required</h2>
                            </div>
                            <div class="col">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="fa fa-times" style="color: white;"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <p>You have to be logged in before we can show you the placeowner's contact number to ensure legitimate contact purposes.</p>
                </div>

                <div class="modal-footer">
                    <a href="/auth">
                        <button type="button" class="btn custom-button">Login</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Boostrap Bundle (Bootstrap JS + Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <script>

        $("#view-map-button").click(function() {
            if (!$("#images").hasClass("show")) {
                $(this).html('<i class="fas fa-map-marker-alt"></i> View Map')
            } else {
                $(this).html('<i class="fas fa-times"></i> Hide Map')
            }

            $("#images").collapse("toggle");
            $("#map-section").collapse("toggle");

            $('html, body').animate({ scrollTop: 0 }, 1000);
        });

        let map;
        let mapStyles;

        function loadMapStyles() {
            $.getJSON("/js/mapStyles2.json", function(data) {
                mapStyles = data;
                initMap();
            });
        }

        function initMap() {

            const options = {
                zoom: 20,
                minZoom: 10,
                center: <%= place.coordinates %>,
                disableDefaultUI: true,
                gestureHandling: 'greedy',
                backgroundColor: 'rgba(0, 0, 0, 0)',
                styles: mapStyles
            }

            map = new google.maps.Map(document.getElementById('map'), options);

            const marker = new google.maps.Marker({
                position: <%= place.coordinates %>,
                map: map,
                icon: 'https://i.imgur.com/0f9XMvH.png'
            });

            const name = '<%=place.name.toString()%>';
            const infoWindow = new google.maps.InfoWindow({
                content: `<h4><strong>${name}</strong></h4>` // sanitize
            });

            infoWindow.open(map, marker);

            marker.addListener('click', function () {
                map.panTo(marker.position);
                map.setZoom(20);
                infoWindow.open(map, marker);
            });
        }
    </script>
    <!-- Google Maps Libraries and Services -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDREAoaQ27rc3JvRN_lyipAak9eT7C3tqQ&libraries=places&callback=loadMapStyles" type="text/javascript"></script>
</body>
</html>