<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    
    <title><%= user.firstName %></title> 
</head> 
    <body>

        <!-- Navbar Component -->
        <% include ../public/components/navbar.ejs %>

        <main class="container">
            <div class="collapse show" id="profile">
                <div class="row justify-content-center">
                    <div class="card bg-transparent border border-0">
                        <div class="text-center">
                            <div class="image-upload mt-5">
                                <label for="file-input">
                                        <img class="img-thumbnail mt-3" id="thumbnail" src="/images/blank-profile-picture.jpg"alt="photo" style="width:15%" data-toggle="tooltip" data-placement="bottom" title="Change Photo"/>
                                    </label>

                                <input id="file-input" type="file" hidden/>
                            </div>
                        <br/>
                        <h1 class="display-4 text-white"><%= user.firstName %> <%= user.lastName %></h1>

                        <% if (user.account.role == 0) { %>
                            <p class="text-white"><%= user.schoolName %></p>
                        <% } %>
                        <p class="text-white"><%= user.account.email %></p>
                            <div class= "card-header">
                                <p><button class="btn btn-primary" id="edit">Edit Profile</button></p>

                                <% if (user.account.role === 1) { %>
                                    <p><button class="btn btn-primary" id="subscription">Subscription Details</button></p>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="update" class="collapse ">
                <form method="POST" action="/" id="updateProfile">
                    <div class="row justify-content-center text-center mt-5">
                        <div class="col-8 col-md-6 col-lg-5 col-xl-4 formFields">
                            <input type="text" class="form-control bg-transparent" placeholder="First Name" name="firstName">
                            <div class="mb-3"></div>
                            <input type="text" class="form-control bg-transparent" placeholder="Last Name" name="lastName">
                            <div class="mb-3"></div>
                            <input type="text" class="form-control bg-transparent" placeholder="School Name" name="schoolName" id="schoolNameInput">
                            <div class="mb-3"></div>
                            <input type="password" class="form-control bg-transparent" placeholder="Old Password" name="password" id="signupPassword" >
                            <div class="mb-3"></div>
                            <input type="password" class="form-control mb-3 bg-transparent" placeholder="New Password" name="newPassword" >
                            <input type="password" class="form-control mb-3 bg-transparent" placeholder="Confirm New Password" name="confirmNewPassword" >
                            <button type="submit" class="btn btn-sm btn-primary px-4">Update Profile</button>
                            <button type="button" id="back" class="btn btn-sm btn-primary px-4">Back</button>
                        </div>
                    </div>
                </form>
            </div>

            <% if (user.account.role === 1) { %>
                <div id="sub-details" class="collapse">
                    <div class="row justify-content-center mt-5">
                        <div class="card bg-transparent px-5">
                            <div class="image-upload">
                                <div class="text-center">
                                    <h1 class="display-4 text-white"><%= user.firstName %> <%= user.lastName %> </h1>
                                    <p class="text-white"><%= user.account.email %></p>
                                </div> 
                            </div>
                            <div class="text-center text-white justify-content-center">
                                <p>Subscription Status: Unsubscribed</p>
                                <p>PRC License: None</p>
                                <p><button class="btn btn-primary" id = "update-sub">Update Credit Card Details</button></p>
                                <% if (user.license.status == 1) { %> <p><button class="btn btn-primary" id = "cancel-sub">Cancel Subscription</button></p> <% } %>
                                <p><button type="button" id="back2" class="btn btn-primary">Back</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </main>

        <!-- Footer Component -->
        <% include ../public/components/footer.ejs %>
 
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS + Popper.js Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script>
        $("main").animate({ opacity: 1 }, 1000) // fade-in

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $("#edit, #back").click(function() {
            $("#profile").collapse("toggle");
            $("#update").collapse("toggle");
        })

        $("#subscription, #back2").click(function(){
            $("#profile").collapse("toggle");
            $("#sub-details").collapse("toggle");
        })

    </script> 
</body>
</html>