<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="profile, account, places, email, name, password">
    <meta name="description" content="Manage your profile and account.">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139123832-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139123832-1');
    </script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    
    <title><%= user.firstName %></title> 
</head> 
<body>
    <!-- Navbar Component -->
    <% include ../public/components/navbar.ejs %>

    <% if (locals.message) { 
        if (message.length > 0) { %>
            <!-- Alert Message From Server -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-primary alert-dismissible fade show mt-5" role="alert">
                        <%= locals.message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
    
    <main class="container">

        <div class="collapse show" id="profile">
            <div class="card bg-transparent border border-0 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-6 col-lg-4 col-xl-3">
                        <form action="/profile/image/update" method="POST" enctype="multipart/form-data">
                            <label for="profile-image-input">
                                <img id="thumbnail" src="<%= user.image ? user.image.url : '/images/blank-profile-picture.jpg' %>" alt="photo" data-toggle="tooltip" data-placement="bottom" title="Change Photo"/>
                            </label>
                            <input id="profile-image-input" type="file" name="image" hidden accept=".jpg, .jpeg, .png"> <br>
                            <button type="submit" class="btn custom-button" id="update-image-button">Update Profile Picture</button>
                        </form>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col">
                        <h1 class="display-4 text-white mt-4"><%= user.fullName %></h1>

                        <% if (user.account.role == 0) { %>
                            <p class="text-white"><%= user.schoolName %></p>
                        <% } %>
    
                        <p class="text-white"><%= user.account.email %></p>

                        <% if (user.account.role === 1) { %>
                            <p><a href="profile/<%= user.id %>/places"><button class="btn custom-button">Your Places</button></a></p>
                        <% } %>

                        <p><button class="btn custom-button" id="edit">Edit Profile</button></p>
                    <!--
                        <% if (user.account.role === 1) { %>
                            <p><button class="btn custom-button" id="subscription">Subscription Details</button></p>
                        <% } %>
                    -->    
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse" id="update">

            <form method="POST" action="/profile/update" id="updateProfile">
                <div class="row justify-content-center text-center">
                    <div class="col-10 col-md-6 col-lg-5 col-xl-4" id="update-inner">

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="<%= user.firstName %>" name="firstName"  id="fn" required disabled>
                            <div class="input-group-append">
                                <button type="button" class="btn input-group-text" onclick="enable(this, 'fn')"><i class="far fa-edit"></i></button>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="<%= user.lastName %>" name="lastName" id="ln" required disabled>
                            <div class="input-group-append">
                                <button type="button" class="btn input-group-text" onclick="enable(this, 'ln')"><i class="far fa-edit"></i></button>
                            </div>
                        </div>

                        <% if (user.account.role === 0) { %>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="<%= user.schoolName %>" name="schoolName" id="sn" required disabled>
                                <div class="input-group-append">
                                    <button type="button" class="btn input-group-text" onclick="enable(this, 'sn')"><i class="far fa-edit"></i></button>
                                </div>
                            </div>
                        <% } %>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="<%= user.contactNumber %>" name="contactNumber" id="cn" required disabled>
                            <div class="input-group-append">
                                <button type="button" class="btn input-group-text" onclick="enable(this, 'cn')"><i class="far fa-edit"></i></button>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="New Password" name="newPassword" id="np" required disabled>
                            <div class="input-group-append">
                                <button type="button" class="btn input-group-text" id="edit-password"><i class="far fa-edit"></i></button>
                            </div>
                        </div>

                        <div id="cp-div" class="collapse">
                            <input type="password" class="form-control mb-3" placeholder="Confirm New Password" name="confirmNewPassword" id="cp" required disabled>
                        </div>
                        
                        
                        <input type="password" class="form-control mb-3" placeholder="Current Password" name="currentPassword" id="op" required>
                        
                        <button type="submit" class="btn custom-button mb-3 px-4">Update Profile</button><br>
                        <button type="button" id="back" class="btn btn-sm custom-button px-4">Back</button>
                    </div>
                </div>
            </form>
            
        </div>

    <!--
        <% if (user.account.role === 1) { %>
            <div id="sub-details" class="collapse">
                <div class="row justify-content-center mt-5">
                    <div class="card bg-transparent px-5">
                        <div class="image-upload">
                            <div class="text-center">
                                <h1 class="display-4 text-white"><%= user.firstName %> <%= user.lastName %> </h1>
                                <p class="text-white"><%= user.account.email %></p>
                            </div> 
                        </div>
                        <div class="text-center text-white justify-content-center">
                            <p>Subscription Status: Unsubscribed</p>
                            <p>PRC License: None</p>
                            <p><button class="btn custom-button" id = "update-sub">Update Credit Card Details</button></p>
                            <% if (user.license.status == 1) { %> <p><button class="btn btn-danger" id = "cancel-sub">Cancel Subscription</button></p> <% } %>
                            <p><button type="button" id="back2" class="btn custom-button">Back</button></p>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    -->

    </main>

    <!-- Footer Component -->
    <% include ../public/components/footer.ejs %>
 
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS + Popper.js Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    
    <!-- Custom Script -->
    <script src="/js/profile.js"></script>
</body>
</html>
