<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/auth.css" type="text/css">
    
    <title>Reset Password - RS Navi</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" id="mainNavbar">
        <a href="/" class="navbar-brand"><span class="font-weight-bold">ROOM STAY-IN</span> NAVIGATION</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation links">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/auth" class="nav-link">Login <i class="fas fa-user"></i></a></li>
                    <li class="nav-item"><a href="/auth?placeowner=1" class="nav-link">Add A Place <i class="fas fa-home"></i> </a></li>
            </ul>
        </div>
    </nav>
    
    <% if (locals.message) { 
        if (message.length > 0) { %>
        console.log(message);
        <!-- Alert Message From Server -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="alert alert-primary alert-dismissible fade show mt-5" role="alert">
                    <%= locals.message %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
     <% } %>
 <% } %>

    <main class="container">

        <!-- Logo -->
        <div class="row justify-content-center">
            <div class="col-4 col-md-3 col-lg-2">
                <a href="/"><img class="img-fluid" src="/images/logo_no_title.png" id="logo"></a>
            </div>
        </div>
    
        <!-- Reset Password Form -->
        <div id="resetPassword">
            <div class="row justify-content-center text-center mb-3">
                <div class="col-8">
                    <h2 class="display-6 text-white" id=>Reset <%= locals.role %> Password</h2>
                </div>
            </div>

            <form method="POST" action="/auth/reset">
                <div class="row justify-content-center text-center">
                    <div class="col-8 col-md-6 col-lg-5 col-xl-4 formFields">
                        <input type="email" class="form-control mb-3" placeholder="Email" name="email" value="<%= locals.email %>" required>
                        <input type="password" class="form-control mb-3" placeholder="New Password" name="newPassword" required>
                        <input type="password" class="form-control mb-3" placeholder="Confirm New Password" name="confirmNewPassword" required>
                        <input type="text" name="role" value="<%= locals.role %>" required hidden>
                        <input type="text" name="hashCode" value="<%= locals.hashCode %>" required hidden>
                        <button type="submit" class="btn btn-sm btn-primary px-4">Update Password</button>
                    </div>
                </div>
            </form>
        </div>

    </main>

    <!-- Footer Component -->
    <% include ../public/components/footer.ejs %>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS + Popper.js Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        
    <!-- Custom Script -->
    <script>
        $(document).ready(() => {
            $('form').attr('autocomplete', 'off');  // disable default autocomplete
            $("main").animate({ opacity: 1 }, 1000) // fade-in
        });

        $('#searchField').autocomplete({
            serviceUrl: '/autocomplete/schools'
        });
    </script>
</body>
</html>