<!doctype html>
<html lang="en">
<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
     <meta name="keywords" content="rent, house, apartments, dormitories, condominiums, school, address, travel, accessibility">
     <meta name="description" content="Find available places to live near your school.">
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139123832-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139123832-1');
    </script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
    
    <title>Admin</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" id="mainNavbar">
        <a href="/" class="navbar-brand"><span class="font-weight-bold">ROOM STAY-IN</span> Admin</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation links">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/profile" class="nav-link"><%= admin.fullName %></a></li>
                <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>

    <!-- Flash Message -->
    <% include ../components/flash.ejs %>

    <div class="row justify-content-center mb-3 text-white">
        <div class="col-10 col-md-8 col-lg-6 text-center">
            <h1 class="display-4">Admin Control Center</h1>
        </div>
    </div>

    <div class="container text-white">
        <div id="accordion">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn custom-button" data-toggle="collapse" data-target="#collapseZero">Access Logs</button>
                    </h5>
                </div>
    
                <div class="container collapse" id="collapseZero" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body mb-3" style="max-height: 35rem; overflow-y:auto;">
                        <% if (locals.logs && logs.length > 0) { %>
                            Format: <a href="https://www.npmjs.com/package/morgan#common" target="_blank">
                                :remote-user [:date[clf]] ":method :url HTTP/:http-version" :status :res[content-length]
                            </a><br>
                            <%- locals.logs %>
                        <% } else { %>
                            No access logs to show.
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn custom-button" data-toggle="collapse" data-target="#collapseOne">Reports</button>
                    </h5>
                </div>
    
                <div class="container collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body mb-3">
                        <% if (locals.reports && reports.length > 0) {
                            for (report of reports) { %>
                                <a class="skyblue" href="/places/<%= report._id.target._id %>" target="_blank"><%= report._id.target.name %></a>
                                <% for (doc of report.docs) { %>
                                    <p class="mb-0 mr-2">
                                        <a href="/profile/<%= doc.author._id %>" class="ml-3" target="_blank">
                                            <%= doc.author.fullName ? doc.author.fullName : 'Removed User' %>
                                        </a>: <%= doc.comment %> 
                                    </p> 
                                <% } %>
                                <br>
                            <% }
                        } else { %>
                            No reports to show.
                        <% } %>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn custom-button collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">PRC License Verification
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="container collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body mb-3">
                        <% if (locals.placeowners && placeowners.length > 0) { %>
                            <table class="table table-borderless custom-table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">License Type</th>
                                        <th scope="col"><a class="text-center" href="https://online.prc.gov.ph/verification" target="_blank">PRC Verification Link</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (locals.placeowners && placeowners.length > 0) { 
                                        for (let i=0; i<placeowners.length; i++) { %>
                                            <tr>
                                                <td><%= i+1 %></th>
                                                <td><a href="/profile/<%= placeowners[i]._id %>" target="_blank"><%= placeowners[i].fullName %></a></td>
                                                <td><%= placeowners[i].licenseTypeString %></td>
                                                <td>
                                                    <form method="POST" action="/prc/<%= placeowners[i]._id %>?valid=true" style="display: inline;">
                                                        <button type="submit" class="limegreen btn btn-sm custom-button">Verify</button>
                                                    </form>
                                                    
                                                    <form method="POST" action="/prc/<%= placeowners[i]._id %>?valid=false" style="display: inline;">
                                                        <button type="submit" class="red btn btn-sm custom-button">Reject</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        <% } else { %>
                            <p>No pending license for verification.</p>
                        <% } %>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS + Popper.js Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</body>
</html>