<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />  
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/admin-home.css" type="text/css">
    
    <title>Admin</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" id="mainNavbar">
        <a href="/" class="navbar-brand"><span class="font-weight-bold">ROOM STAY-IN</span> NAVIGATION</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation links">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="" class="nav-link"><%= admin.firstName %> <%= admin.lastName %></a></li>
                <li class="nav-item"><a href="/admin/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>
    
    <% if (locals.message) { 
        if (message.length > 0) { %>
            <!-- Alert Message From Server -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-primary alert-dismissible fade show mt-5" role="alert">
                        <%= locals.message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <main class="container text-white">
        <div class="row justify-content-center my-5">
            <div class="col-10 col-md-8 col-lg-6 text-center">
                <h2 class="display-4">Admin Control Center</h2>
            </div>
        </div>
        <% if (locals.students) {
            if (students.length > 0) { %>
                <h4 class="display-4 mb-3">Students</h4>
                <% students.forEach(student => { %>
                    <div class="row justify-content-center mt-1">
                        <h5 class="display-5"><%= student.firstName %> <%= student.lastName %></h5>
                    </div>
                <% })
            }
        } %>

        <% if (locals.placeowners) {
            if (placeowners.length > 0) { %>
                <h2 class="display-4 mb-3">Placeowners</h2>
                <% placeowners.forEach(placeowner => { %>
                    <div class="row justify-content-center mt-1">
                        <h5 class="display-5"><%= placeowner.firstName %> <%= placeowner.lastName %></h5>
                    </div>
                <% })
            }
        } %>
    </main>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS + Popper.js Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <!-- Custom Script -->
    <script>
        $(document).ready(() => {
            if (locals.message) {
                alert(locals.message);
            }
        })
    </script>
</body>
</html>