<link rel="stylesheet" type="text/css" href="/css/navbar.css">

<nav class="navbar navbar-dark navbar-expand-md fixed-top" id="mainNavbar">

    <% if (locals.user && user.account.role === 7) { %>
        <a href="/" class="navbar-brand"><span class="font-weight-bold">ROOM STAY-IN</span> ADMIN</a>
    <% } else { %>
        <a href="/" class="navbar-brand"><span class="font-weight-bold">ROOM STAY-IN</span> NAVIGATION</a>
    <% } %>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation links">
        <span class="text-white"><i class="fas fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav ml-auto">
            <% if (locals.user) {
                if (user.account.role === 0) { %>
                    <li class="nav-item"><a href="/profile/<%=user._id%>" class="nav-link"><i class="mr-2 fas fa-user-graduate"></i><%= user.firstName %></a></li>
                    <li class="nav-item"><a href="/auth/logout" class="nav-link"><i class="mr-2 fas fa-sign-out-alt"></i>Logout</a></li>
                <% } else if (user.account.role === 1) { %>
                    <li class="nav-item"><a href="/profile/<%=user._id%>" class="nav-link"><i class="mr-2 fas fa-user"></i><%= user.firstName %></a></li>
                    <li class="nav-item"><a href="/places/add" class="nav-link"><i class="mr-2 fas fa-home"></i>Add A Place</a></li>
                    <li class="nav-item"><a href="/auth/logout" class="nav-link"><i class="mr-2 fas fa-sign-out-alt"></i>Logout</a></li>
                <% } else if (user.account.role === 7) { %>
                    <li class="nav-item"><a href="/profile/<%=user._id%>" class="nav-link"><i class="mr-2 fas fa-user-shield"></i><%= user.fullName %></a></li>
                    <li class="nav-item"><a href="/logout" class="nav-link"><i class="mr-2 fas fa-sign-out-alt"></i>Logout</a></li>
                <% }
            } else { %>
                <li class="nav-item"><a href="/auth" class="nav-link"><i class="mr-2 fas fa-user"></i>Login</a></li>
                <li class="nav-item"><a href="/auth?placeowner=1" class="nav-link"><i class="mr-2 fas fa-home"></i>Add A Place</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<script src="/js/navbar.js"></script>
